<header>
    <h1>
        <a href="/">SANTEVIE</a>
    </h1>

    <nav>
        <ul>
            <li>
                <a href="/">Dashboard</a>
            </li>

            <li>
                <a href="/patient">Patients</a>
            </li>

            <li>
                <a href="/calendar">Rendez-vous</a>
            </li>
        </ul>
    </nav>
</header>